/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  background-color: #aaa;
}
.row {
  display: flex;
}
p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 14px;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

/* LOGO DIV */
.logo {
  height: 38vh;
  width: 38vh;
  background-color: #ccc;
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  margin: 0;
  font-weight: bolder;
  color: #444;
}

/* TIMER DIV */
.timer {
  height: 24vh;
  width: 24vh;
  background-color: #ddd;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeCaption {
  font-size: 10px;
  color: #aaa;
}
#time {
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  color: #aaa;
  margin: 0;
}
#startBtn {
  background-color: #444;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

/* DIFFICULTY DIV */
.difficulty {
  height: 14vh;
  width: 24vh;
  background-color: #bbb;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.difficultyCaption {
  font-size: 10px;
}
#easyBtn {
  background-color: #444;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 5px 0 0 5px;
  margin: 10px 0 10px;
  border: none;
  cursor: pointer;
}
#hardBtn {
  background-color: #999;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 0 5px 5px 0;
  margin: 10px 0 10px;
  border: none;
  cursor: pointer;
}

/* TABS DIV */
.tabs {
  height: 6vh;
  width: 62vh;
  background-color: #ddd;
  box-sizing: border-box;
  display: flex;
}
#instructionsTab {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  cursor: pointer;
  /* Styles that will change in javascript */
  border-bottom: none;
}
#instructionsTab p,
#highScoresTab p {
  font-weight: bolder;
}
#highScoresTab {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #999;
  border-right: none;
  cursor: pointer;
  /* Styles that will change in javascript */
  border-bottom: 1px solid #999;
}

/* INSTRUCTIONS DIV*/
.instructions {
  height: 56vh;
  width: 62vh;
  background-color: #ddd;
  box-sizing: border-box;
  padding: 25px;
  /* display: none; */
}
.instructions p {
  line-height: 1.3;
}

/* HIGH SCORES DIV */
.highScores {
  height: 56vh;
  width: 62vh;
  background-color: #ddd;
  box-sizing: border-box;
  padding: 25px;
  overflow: auto;
  display: none;
}
#clearHighScoresBtn {
  background-color: #444;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

/* QUESTIONS DIV */
.questions {
  height: 100vh;
  width: 75vh;
  background-color: #aaa;
  box-sizing: border-box;
  padding: 40px 40px 40px 60px;
}
.answerChoice {
  background: none;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #444;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
  padding: 6px 12px;
  margin: 5px 0;
  display: block;
}
.answerChoice:hover {
  background-color: #999;
  cursor: pointer;
}
#answerResult {
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 30px;
}
